@charset "utf-8";
/* CSS Document */
#header {
	height:155px;
	width: auto;
	background: url(header.png) no-repeat;
	position: relative;
	border: 0px solid #000;
	margin-bottom: 50px;
}
 #register {
        width:450px;
        margin:0 auto;
        font-family:Verdana, sans-serif;
    }
  h1   {
        color:#000000;
        font-size:24px;
        padding:0 10px;
        padding:10px 10px;
        text-transform:uppercase;
		text-align: center;
        font-family:Helvetica, sans-serif;
        font-weight:bold;
    }
    fieldset {
	border-radius: 0px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #CFD8DC);
	background: -o-linear-gradient(#fff, #CFD8DC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#90A4AE));
/
        background: -webkit-linear-gradient(#fff, #CFD8DC);
	padding: 20px;
	border-color: #FFFFFF;
    }
    input,
    textarea {
        color: #373737;
        background: #fff;
        border: 1px solid #CCCCCC;
        color: #aaa;
        font-size: 14px;
        line-height: 1.2em;
        margin-bottom:15px;

        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
      box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.2);
    }
    input[type="text"],
    input[type="password"]{
        padding: 8px 6px;
        height: 22px;
        width:280px;
    }
    input[type="text"]:focus,
    input[type="password"]:focus {
        background:#f5fcfe;
        text-indent: 0;
        z-index: 1;
        color: #373737;
        -webkit-transition-duration: 400ms;
        -webkit-transition-property: width, background;
        -webkit-transition-timing-function: ease;
        -moz-transition-duration: 400ms;
        -moz-transition-property: width, background;
        -moz-transition-timing-function: ease;
        -o-transition-duration: 400ms;
        -o-transition-property: width, background;
        -o-transition-timing-function: ease;
        width: 380px;
        
        border-color:#ccc;
        box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.2);
        opacity:0.6;
    }
    input[type="submit"]{
        background: #222;
        border: none;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        text-transform:uppercase;
        color: #eee;
        cursor: pointer;
        font-size: 15px;
        margin: 5px 0;
        padding: 5px 22px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-border-radius:4px;
        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.2);
    }
    textarea {
        padding:3px;
        width:96%;
        height:100px;
    }
    textarea:focus {
        background:#ebf8fd;
        text-indent: 0;
        z-index: 1;
        color: #373737;
        opacity:0.6;
        box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.2);
        border-color:#ccc;
    }
	
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}