@charset "utf-8";
/* CSS Document */
#header {
	height:155px;
	width: auto;
	background: url(header.png) no-repeat;
	position: relative;
	border: 0px solid #000;
	margin-bottom: 50px;
}
*{
	margin: 0;
	padding: 0;
}
nav {
	margin: 50 px;
}
ul {
	overflow: auto;
	list-style-type:none;
}

li {height: 25px;
	float: left;
	margin-right: 0px;
	border-right: 1px solid #aaa;
	padding: 0 20px;
}
li:last-child {
	border-right: none;
}



li a {
	text-decoration: none;
	color: #ccc;
	font: 25px/1 Helvetica, Verdana, Sans-Serif;
	text-transform: uppercase;
	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
li a:hover {
	color: #90CAF9;
}
li.active a {
	font-weight: bold;
	color: #333;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.img1 {
    max-height:400px;
    max-width:400px;
}

#register {
        width:500px;
        height:500px;
        margin:0px 0px 0px 500px;
        font-family:Verdana, sans-serif;
    }
 fieldset {
	border-radius: 0px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #CFD8DC);
	background: -o-linear-gradient(#fff, #CFD8DC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#90A4AE));
/
        background: -webkit-linear-gradient(#fff, #CFD8DC);
	padding: 50px 125px 50px 125px;
	border-color: #FFFFFF;
    }


