@charset "utf-8";
/* CSS Document */
#header {
	height:155px;
	width: 100%;
	background:no-repeat ;
	width:100%;
    text-align:center;
    margin-bottom: 50px;
}

img.center {
    display:inline-block;
    margin: 0 auto;
}
	
h3 {
	text-align: center;
	font-family: Helvetica;
	font-size: 36px;
	color: #363636;
}

a {
	text-align: center;
}


.img1 {
	width: 320px;
	height: 280px;
	margin-top: 80px;
	margin-right: 50px;
	margin-left: 50px;
	align: center;
	box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.2);
}

main div {
	margin-top: 50px;
}

.inline-block-center {
  text-align: center;
}

.inline-block-center div {
  display: inline-block;
  text-align: left;
}

.center-me {
  text-align: center;
  margin-top: 0px;
}

.center-me div { 
  display: inline-block;
  text-align: left;
}
	

.hvr-sweep-to-top1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top1:before {
	content: url(1hdhover.jpg);
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #2098d1;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-sweep-to-top1:hover, .hvr-sweep-to-top1:focus, .hvr-sweep-to-top1:active {
  color: white;
}
.hvr-sweep-to-top1:hover:before, .hvr-sweep-to-top1:focus:before, .hvr-sweep-to-top1:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}



.hvr-sweep-to-top2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top2:before {
	content: url(2hdhover.jpg);
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #2098d1;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-sweep-to-top2:hover, .hvr-sweep-to-top2:focus, .hvr-sweep-to-top2:active {
  color: white;
}
.hvr-sweep-to-top2:hover:before, .hvr-sweep-to-top2:focus:before, .hvr-sweep-to-top2:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
	
